<template>
  <div id="app" class="container-fluid">
    <div class="row">
      <TeamMember
        v-for="teamMember in teamMembers"
        :key="teamMember"
        :user-id="teamMember"
        :milestone="milestone"
        class="col-sm"
      />
      <PullBucket :milestone="milestone" :team-members="teamMembers" class="col-sm" />
    </div>
  </div>
</template>

<script>
import TeamMember from "@/components/TeamMember.vue";
import PullBucket from "@/components/PullBucket.vue";

export default {
  name: "App",
  components: {
    TeamMember,
    PullBucket
  },
  computed: {
    teamMembers() {
      if (this.$route.params.teamMembers) {
        return this.$route.params.teamMembers.split(",");
      }
      return ["pass comma separated list of ids"];
    }
  },
  data() {
    return {
      milestone: this.$route.params.milestone
    };
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
}
</style>
